@model IEnumerable<MotoPack_project.Models.Produto>

@{
    ViewData["Title"] = "Catálogo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/catalogo_style.css" />

<div class="conteudo">

    <div class="filtros">
        <h3><strong>FILTROS</strong></h3>

        <div class="categorias">
            <p><strong>Categorias</strong></p>
            <ul>
                <li>• Eletricidade e Iluminação</li>
                <li>• Carroçaria</li>
                <li>• Travões</li>
                <li>• Filtros</li>
                <li>• Suspensão</li>
                <li>• Motor</li>
                <li>• Escapamento</li>
                <li>• Sistema de combustível</li>
                <li>• Sistema de Refrigeração</li>
                <li>• Sistema de transmissão</li>
                <li>• Fluidos ou Químicos</li>
            </ul>
        </div>

        <p><strong>Preço</strong></p>
        <input type="range" min="1" max="1000" value="500" />
        <p>1€ — 1000€</p>
    </div>

    <div class="produtos">
        @foreach (var produto in Model)
        {
            <a class="produto" href="@Url.Action("Produto", "Home", new { id = produto.Id })">
                <img src="@produto.ImageUrl" alt="imagem da peça" />
                <p><strong>@produto.Nome / @produto.Preco.ToString("0.00") €</strong></p>
            </a>
        }
    </div>

</div>
