@{
    ViewData["Title"] = "Categorias";
    var categorias = new List<string>
    {
        "Eletricidade e Iluminação",
        "Carroçaria",
        "Travões",
        "Filtros",
        "Suspensão",
        "Motor",
        "Escapamento",
        "Sistema de Combustível",
        "Sistema de Refrigeração"
    };
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/categorias_style.css" />

<div class="grid">
    @foreach (var categoria in categorias)
    {
        <div class="item">
            <div class="imagem">imagem</div>
            <div class="descricao">@categoria</div>
        </div>
    }
</div>
