@{
    ViewBag.Title = "Início";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/site.css" />

<section class="main">
    <section class="main-banner">
        <a class="btn btn-light px-4 py-2 rounded-pill fw-bold">Saiba mais</a>
    </section>

    <section class="novidades">
        <div class="novidade">Novidade</div>
        <div class="novidade">Novidade</div>
        <div class="novidade">Novidade</div>
        <div class="novidade">Novidade</div>
    </section>
</section>

