@model MotoPack_project.Models.Registar

@{
    ViewBag.Title = "Login";
}

<link rel="stylesheet" href="~/css/login_style.css" />

<div class="container">
    <div class="welcome-section">
        <h2>Bem-vindo(a) de volta</h2>
        <p>É um prazer ter-te novamente connosco. Acede à tua conta para continuares a explorar, comprar ou vender no MotoPack com facilidade e segurança.</p>
    </div>

    <div class="divider"></div>

    <div class="form-section">
        <form asp-action="Login" method="post">
            @Html.AntiForgeryToken()

            @if (ViewBag.Erro != null)
            {
                <div style="color:red; font-weight:bold;">@ViewBag.Erro</div>
            }

            <input asp-for="Email" placeholder="Email" type="email" required />
            <span asp-validation-for="Email" class="text-danger"></span>

            <input asp-for="Pass" placeholder="Palavra-passe" type="password" required />
            <span asp-validation-for="Pass" class="text-danger"></span>

            <div class="form-buttons">
                <input type="submit" class="submit-btn" value="Entrar" />
                <input type="reset" class="reset-btn btn-danger" value="Limpar" />
            </div>

            <button type="button" class="register-btn" onclick="location.href='@Url.Action("Registar", "Conta")'">
                Ainda não tens conta? Regista-te aqui
            </button>
        </form>
    </div>
</div>
