@{
    ViewData["Title"] = "Categorias";

    var categorias = new List<string>
    {
        "Eletricidade e Iluminação",
        "Quadro",
        "Travões",
        "Filtros",
        "Suspensão",
        "Motor",
        "Escapamento",
        "Sistema de Combustível",
        "Sistema de Refrigeração",
        "Sistema de Transmissão",
        "Fluidos ou Químicos",
        "Rodas"
    };

    var imagens = new Dictionary<string, string>
    {
        { "Eletricidade e Iluminação", "eletricidade.png" },
        { "Quadro", "quadro.jpg" },
        { "Travões", "travoes.png" },
        { "Filtros", "filtros.png" },
        { "Suspensão", "suspensao.png" },
        { "Motor", "motor.png" },
        { "Escapamento", "escape.png" },
        { "Sistema de Combustível", "combustivel.png" },
        { "Sistema de Refrigeração", "refrigeracao.png" },
        { "Sistema de Transmissão", "transmissao.png" },
        { "Fluidos ou Químicos", "fluidos.png" },
        { "Rodas", "rodas.png" }
    };

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/categorias_style.css" />

<div class="grid-container">
    <div class="grid">
        @foreach (var categoria in categorias)
        {
            var imagem = imagens[categoria];
            <div class="item">
                <a href="@Url.Action("Catalogo", "Produto", new { categoria = categoria })" class="text-decoration-none text-dark">
                    <div class="imagem">
                        <img src="~/img/categorias/@imagem" alt="@categoria" />
                    </div>
                    <div class="descricao">@categoria</div>
                </a>
            </div>
        }
    </div>
</div>
