.conteudo {
    display: flex;
    gap: 20px;
}


.filtros {
    width: 220px;
    background-color: rgba(245, 245, 245, 0.3);
    padding: 10px;
    border-radius: 8px;
    height: fit-content;
}

.produtos {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    height: 320px;
}

    .produto img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 8px;
    }

.descricao {
    color: black;
    font-size: 14px;
    text-align: center;
    max-height: 3.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.filtros h3 {
    margin-bottom: 1rem;
}

.filtros a {
    text-decoration: none;
    color: inherit;
}

    .filtros a:hover {
        text-decoration: underline;
    }

.slider-value {
    margin-top: 5px;
    font-size: 14px;
}

.filtros form button {
    margin-top: 10px;
}

.filtros .repor {
    margin-top: 15px;
    display: block;
}